.mainContainer {
	width: 100vw;
	position: relative;
	padding-top: 73px;
}
.carousel {
	width: fit-content;
	display: flex;
	transition: transform 1s ease;
}
.banner {
	width: 100vw;
	position: relative;
	display: flex;
	align-items: center;
}
.bannerBlue {
	flex-direction: row-reverse;
	background-color: #5ac0f9;
}
.img {
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gradient {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.blueGradient {
	background: linear-gradient(90deg, #5ac0f9 50%, rgba(77, 178, 235, 0) 72.57%);
}
.mainContainer p {
	z-index: 0;
	color: var(--bk-color);
	font-size: 3vw;
	font-weight: 300;
	width: 50%;
}
.bannerBlue p {
	padding-left: 45px;
}

.bannerGreen {
	background-color: #7bd69e;
}

.greenGradient {
	background: linear-gradient(90deg, rgba(123, 214, 158, 0) 35%, #7bd69e 45%);
}
.bannerGreen p {
	width: 50%;
	padding-right: 45px;
}

.bannerPink {
	flex-direction: row-reverse;
	background-color: #e0bafe;
}

.pinkGradient {
	background: linear-gradient(90deg, #e0bafe 51.91%, rgba(224, 185, 254, 0) 76.94%);
}
.bannerPink p {
	padding-left: 50px;
}
.show-0 {
	transform: translateX(0vw);
}
.show-1 {
	transform: translateX(-100vw);
}
.show-2 {
	transform: translateX(-200vw);
}

.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	position: absolute;
	bottom: 20px;
	left: calc(100% / 2 - 50px);
}
.btn button {
	background-color: var(--blue-text);
	border: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.btnSelect {
	background-color: var(--bk-color) !important;
}

@media (orientation: portrait) {
	.mainContainer p {
		margin: 0px;
		padding: 6%;
		font-size: 4.5vh;
		width: 100%;
		align-self: center;
	}
	.banner {
		/* height: 80vh; */
		overflow: hidden;
		justify-content: space-between;
	}
	.img {
		--ih: 50vh;
		height: var(--ih);
		width: calc(1920 * var(--ih) / 1281);
	}
	.bannerBlue {
		flex-direction: column-reverse;
	}
	.blueGradient {
		background: linear-gradient(180deg, #5ac0f9 40%, rgba(77, 178, 235, 0) 50%);
	}

	.bannerGreen,
	.bannerPink {
		flex-direction: column;
	}
	.bannerPink p {
		transform: translateY(-7vh);
	}
	.bannerGreen p {
		transform: translateY(-5vh);
	}

	.greenGradient {
		background: linear-gradient(180deg, rgba(123, 214, 158, 0) 35%, #7bd69e 55%);
	}
	.pinkGradient {
		background: linear-gradient(0deg, #e0bafe 40%, rgba(224, 185, 254, 0) 76.94%);
	}
}
