.whatsappLink {
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: transform 0.5s;
}
.whatsappLink:hover {
	transform: scale(1.05);
}

@media (max-width: 600px) {
	.whatsappLink {
		width: 70px;
	}
}
