.main {
	margin: auto;
	padding-top: 80px;
	max-width: 2000px;
	padding-bottom: 80px;
	margin-bottom: 200px;
}
.intro {
	width: 35%;
	min-width: 250px;
	margin-left: 60px;
}
.intro h1 {
	margin-bottom: 0px;
	color: var(--blue-text);
	font-weight: 300;
	font-size: clamp(2rem, 5vw, 3rem);
}
.intro p {
	font-weight: bold;
}
.main p {
	color: var(--gray-text);
}
.card {
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: 70%;
	min-height: 200px;
	margin: 50px auto;
	overflow: hidden;
	max-width: 1500px;
}
.cardTex {
	padding: 30px;
}
.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	min-width: 200px;
}
.card h2 {
	color: var(--blue-text);
}
.inscripcionIconContainer {
	background-color: #5ac0f9;
}
.acesoriaIconContainer {
	background-color: #7bd69e;
}
.oprtunidadesIconContainer {
	background-color: #c781fd;
}
.acompañamientoIconContainer {
	background-color: #ffd84f;
}
.estadiaIconContainer {
	background-color: #ff5555;
}

.accion {
	width: 70%;
	margin: 50px auto;
	font-weight: bold;
	text-align: center;
	font-size: clamp(1.2rem, 5vw, 1.5rem);
	margin-top: 100px;
}
.accion a {
	color: var(--blue-text);
	text-decoration: underline;
}

@media (max-width: 950px) {
	.card {
		position: relative;
		display: block;
		width: 90%;
		min-height: 200px;
		margin: 100px auto;
		overflow: visible;
	}
	.iconContainer {
		width: 100px;
		height: 100px;
		min-width: unset;
		border-radius: 50%;
		position: absolute;
		top: -60px;
		right: 10px;
	}
	.left {
		right: unset;
		left: 10px;
	}
	.icon {
		width: 50%;
	}
}
@media (max-width: 800px) {
	.main {
		padding-bottom: 150px;
	}
}
@media (max-width: 450px) {
	.intro {
		width: 35%;
		min-width: 250px;
		margin-left: 40px;
	}
}
@media (max-width: 300px) {
	.intro {
		margin-left: 10px;
	}
}
